<div class="page-tabs__content page-tabs__content--done">
    <div class="page-tabs__links">
        <div class="left-col">
            <a class="page-tabs__link select-all-daily" href="javascript:void(0);">Select All</a>
            <a class="page-tabs__link deselect-all-daily" href="javascript:void(0);">Deselect All</a>
        </div>
        <div class="right-col">
            <a class="page-tabs__link" href="javascript:void(0);">To Do</a>
            <a class="page-tabs__link page-tabs__link--active" href="javascript:void(0);">Done</a>
        </div>
    </div>
    <ul class="tasks tasks--done">
        {{#each this}}
        <li id="{{id}}" class="tasks__item tasks__item--{{category}} tasks__item--{{priority}}-status">
            <div class="tasks__remove">
                <div class="tasks__target"></div>
                <span class="icon icon-trash"></span>
            </div>
            <div class="tasks__date">
                {{#if deadline.overdue}}

                <p class="overdue"><span class="number">{{deadline.day}}</span>{{deadline.month}}</p>

                {{else}}

                <p><span class="number">{{deadline.day}}</span>{{deadline.month}}</p>

                {{/if}}
            </div>
            <div class="tasks__content">
                <div class="tasks__content-box">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="tasks__disabler"></div>
            <div class="tasks__status">
                <span class="icon icon-tomato" title="Go to timer"></span>
                <span class="number">3</span>
             </div>
        </li>
        {{/each}}
    </ul>
</div>